
ion-tab-button ion-icon {
    width: 500px;
    height: 500px;
  }
  
/* Cambiar el color de los íconos SVG a blanco */
ion-tab-button ion-icon {
    color: #ffffff; /* Cambia el color a blanco */
  }
  
  /* Opcionalmente, si deseas cambiar el color del texto en los labels también */
  ion-tab-button ion-label {
    color: #ffffff; /* Cambia el color del texto a blanco */
  }
  
  