<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Resumen de la Aplicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p id="descripcion">
        La aplicación educativa que hemos desarrollado está diseñada para mejorar la 
        comunicación entre estudiantes, padres y maestros. Facilita el seguimiento del 
        progreso académico al proporcionar una plataforma centralizada donde los estudiantes 
        pueden ver anuncios, tareas y actualizaciones de su rendimiento. Los padres tienen 
        acceso a la información académica de sus hijos y eventos escolares, mientras que los 
        maestros pueden enviar fácilmente actualizaciones y asignaciones. La app busca resolver 
        la desconexión en la educación al ofrecer una solución efectiva para mantener a todos 
        los involucrados informados y conectados.
      </p>
    </ion-card-content>
  </ion-card>

  <div class="footer">
    <h2>Integrantes del Equipo</h2>
    <p>
      Giovanni Sambonino, Jair Ramirez, Carlos Cabanilla
    </p>
  </div>

</ion-content>